# example demosauce configuration file
# lines starting with # are comments

# location of the demovibes server
demovibes_host		= localhost
demovibes_port		= 32167

# encoder settings
# the encoder command is a regular excecutable that reads raw 16 bit stereo interleaved
# audio from stdin and writes the encoded stream to stdout
# you must make sure that the bitrate and samplerate settings in the encoder command
# match the settings provided in the other encoder_ settings
# only mp3 encoder type is supported currently; ogg and aac may be future options
encoder_command     = lame -r -s 44.1 -b 192 -
encoder_type        = mp3
encoder_samplerate	= 44100
encoder_bitrate		= 192
encoder_channels	= 2

# connection to icecast server
cast_host			= localhost
cast_port			= 8000
cast_mount			= stream
cast_password		= hackme
cast_name			= name of radio
cast_url			= http://your.url/
cast_genre			= music
cast_description 	= this is a nice online radio, also maep is a ruler

# internal buffer size used for audio processing, in ms
#decode_buffer_size  = 200

# the error tune will be played if connection to the demovibes server is lost
# alternatively you can specifiy a fallback dir. if you specifiy both, error_tune
# is preferred
# if they are not set or incorrect, demosauce will play 60 seconds of silence
error_tune			= error.tune
error_title			= GURU MEDITATION
error_fallback_dir	= /dir/to/songs

# to prevent old logs from being overwritten, a %date% token in the log file
# name will be replaced by the current date-time
# the log level can be debug, info, warn, error, fatal, nothing
log_file			= demosauce_%date%.log
log_file_level		= warn
log_console_level	= warn

# load ladspa plugin with setings, use the ladspainfo tool to see
# which plugins are available, and what settings they take
# to configure a plugin, you can assign a value to a control input port
# there are 10 plugin slots available: ladspa_plugin0 to ladspa_plugin9
# format is: <plugin label> [port:value] [port:value] ... [port:value]
#ladspa_plugin0 = pluginLabel 3:0.5 4:440 7:0
