# comment

demovibes_host		= localhost
demovibes_port		= 32167
encoder_samplerate	= 44100
encoder_bitrate		= 192
encoder_channels	= 2
cast_host			= localhost
cast_port			= 8000
cast_mount			= ices
cast_password		= password
cast_name			= name of radio
cast_url			= http://your.url/
cast_genre			= music
cast_description 	= this is a nice online radio, also maep is a ruler

# the error tune will be played if connection to server is lost
# if that tune fails to load, 2 minutes of white noise will be played instead
error_tune			= error.tune
error_title			= error 
error_fallback_dir	= /dir/to/songs
log_file			= demosauce.log

# level can be debug, info, warn, error, fatal, nothing
log_file_level		= info
log_console_level	= warn

# channel ratio for mixing amiga stereo channels
# 0 = no mixing, 0.5 = mix evenly, 1 = swap channels 
# so anything between 0 and .5 only makes sense
amiga_channel_ratio = 0.4
